@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato";
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    background-image: url(../img/Coffe\ Header.png);
    border-radius: 30px;
    background-size: cover;
    margin-bottom: 100px;
    text-align: center;
}

.bg-color{
    background-color: rgba(20, 54, 66, 0.7);
    border-radius: 30px;
    padding : 39px 138px 240px;
    color: rgba(249, 251, 254, 1);
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 133px;
}

.top ul{
    display: flex;
}

.top img{
    width: 335px;
}

.top li{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 50px;
}

.bg-color h1{
    font-size: 70px;
    line-height: 84px;
    font-weight: 800;
    margin-bottom: 10px;
}

.bg-color p{
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 400;
}

main{
    display: flex;
    align-items: center;
    flex-direction:column;
}

.one, .two, .three, .more, .instagram{
    display: flex;
    margin-bottom: 100px;
}

.one img, .two img, .three img{
    width: 335px;
    object-fit: cover;
    border-radius: 20px;
}

.one img{
    height: 460px;
    margin-right: 138px;
}

.two img{
    height: 335px;
    margin-left: 166px;
}

.three img{
    width: 453px;
    height: 453px;
    margin-right: 138px;
}

.one .description{
    width: 452px;
}

.two .description{
    width: 425px;
}

.three .description{
    width: 398px;
}

.description h1, .instagram h1, .more h1{
    width: fit-content;
    font-size: 48px;
    font-weight: 800px;
    line-height: 57.6px;
    color: rgba(15, 139, 141, 1);
    padding-bottom: 20px;
    border-bottom: rgba(236, 154, 41, 1) solid 5px;
    margin-bottom: 20px;
}

.description p, .description a, .more p, .more a{
    font-size: 24px;
    line-height: 28.8px;
}

.description a, .more a{
    text-align: center;
    padding: 20px 50px;
    background-color: rgba(168, 32, 26, 1);
    border-radius: 55px;
    color: rgba(249, 251, 254, 1);
    margin-top: 45px;
    display: inline-block;
}

.instagram, .more{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram h1, .more h1{
    border: none;
    margin-bottom: 50px;
}

.more h1{
    margin-bottom: 20px;
}

span{
    color:rgba(236, 154, 41, 1)
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    width: 927px;
    justify-content: space-between;
}

.pictures img{
    width: 237px;
    margin-bottom: 50px;
}

